body {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size:0.9em;
	/* background: url(../img/pattern.jpg); */

}



#wrapper {
	padding: 60px 0 0 0;



}

.row {
	max-width:1166px;
	margin:0 auto;
	/* border-right:1px #636363 dashed;
	border-left: 1px #636363 dashed; */
	overflow: hidden;
}





#top .top_i {
/*	background:#C5696B;*/
	width:68.86%;
	max-width: 800px;
	margin:50px auto;
	padding-top:100px;

}

#top .top_i h1 {
	text-align: center;
	padding-top:30px;
}

#top .top_i h1, h3, h4 {
	text-align: center;
	font-family: 'Poiret One', cursive;
	color:white;
}

#top .top_i h1 {
	font-size:100px;
	text-shadow: 1px 1px 1px #000;
}

#top .top_i h3 {
	font-size:40px;
	text-shadow: 1px 1px 1px #000;
}

#top .top_i h4 {
	font-size:24px;
	text-shadow: 1px 1px 1px #000;
}

#top .top_i .top_text {
	text-align: center;
	background:#000;
	color:aliceblue;

}

#bio h1, #web h1, #music h1, #misc h1, #contact h1 {
	padding:20px 0 5px 15px;
	font-family: 'Poiret One', cursive;
/*	text-shadow: 0px 0px 1px #000;*/
}
/* Bio Section*/
#bio, #web, #music, #misc {
/*	border-top:1px #636363 dashed;*/
/*	border-bottom: 1px #636363 dashed;*/
	padding: 60px 0 0 0;
}

.button {
	text-align: center;
	padding-bottom:20px;
}

#myBtn {
	padding:20px;
	background: linear-gradient(to right bottom, #ff506e, #da415b, #b73349, #952538, #741828);
	color:white;
	border-radius: 10px;
    text-shadow: 1px 1px 1px black;
}

#myBtn:hover {
	color:black;
	background-image: white;
	font-weight:bold;
    text-shadow: 1px 1px 1px #fff;
}

 .myProgress {
    height:20px;
    background-color:#D3D3D3;
    border:1px solid #000;
    margin-bottom:5px;
  }

  #myBar1, #myBar2, #myBar3, #myBar4, #myBar5, #myBar6, #myBar7, #myBar8, #myBar9, #myBar10, #myBar11, #myBar12 {
    width: 10%;
    height:20px;
    background-image: linear-gradient(to right bottom, #ff4f6d, #ff6a82, #fe8296, #fb98a8, #f6adba);
    text-align:center;
    line-height:20px;
    color:#fff;
    font-size:0.8em;
  }
/* Bio Section*/


/*Web Section*/
#bio .design, #web .design, #contact .design  {
	background:rgba(255, 255, 255, .7);
	width:85%;
	margin:40px auto;
	border-radius: 30px;
	box-shadow: 2px 2px 2px #000;


	/* height:70vh; */
	/* height:100vh; */
}

#misc .design {
	background:rgba(255, 255, 255, .7);
	width:85%;
	margin:100px auto;
	border-radius: 30px;
	box-shadow: 2px 2px 2px #000;
	height:78vh;

}

#bio .design .card {
	width: 28%;
	float:left;
	margin-left:20px;
	background-color: aquamarine;
	padding:5px;
}


#bio .design .card p, #bio .design .card table  {
	font-size:0.7em;
	list-style: none;
	text-align: justify;
}

#web .design .github {
	margin: 30px 0;
	text-align: center;
	padding:30px 0;
}





/*Web Section*/



/*Misc. Section*/
#misc .design .misc_sect {
	width:45%;
	/* border: 1px solid #000; */
	float:left;
	margin-left:20px;
	height:65vh;
	/* background-color: white; */
}

#misc .design .misc_sect h3 {
	color:black;
	margin-top: 10px;
	font-size:1.6em;
}
#misc .design .misc_sect iframe {
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}

#misc .design .misc_sect p {
	text-align: justify;
	padding: 5px;
	font-size:0.8em;
}

#misc .design .misc_sect p.img {
	text-align: center;
}

#misc .design .misc_sect h2 {
	text-align: center;
}

/*Misc. Section*/




#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
	background-color: black;
  /* color: white; */
  height:90px;
	color:white;
}

#footer .spotify {
	float:left;

	/* color:#1db954; */
	margin-left: 10px;
}

#footer .spotify a {
	color:#1db954;
	font-size: 40px;
}

#footer .spotify a:hover {
	color:white;
}

#footer .spotify p {
	color:white;
	font-size:0.7em;
}

#footer .refs {
	float:right;
	text-align: right;
	margin-right: 10px;
}

#footer .refs h2 i {
	color:white;
}

#footer .refs h2 i:hover {
	color:#1db954;
}

#footer .refs p {
	color:#ff4f6d;
	font-size: 0.8em;
	margin-bottom: 5px;
}

#footer .refs p a {
	color:white;
}

#footer .refs p a:hover {
	color:#1db954;
	text-decoration: none;
}



/*
#footer img {
	float:right;

}
*/


/* img responsive */

img.max-image{
	max-width: 100%;
	height: auto;
	width /***/:auto; /*IE8のみ適用*/
}


/* youtube,vimeo etc responsive */

.iframe-area{position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;}
.iframe-area iframe, .iframe-area object, .iframe-area embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#header {
		background: #A1070A;
}
	#top .top_i {
		width: 350px;
		margin:0 auto;
		padding-top: 100px;
		padding-bottom: 80px;
	}

	#top .top_i h1 {
		font-size: 55px;
	}




	#music .design .section {
		width:90%;
		float: none;
		margin:10px auto;

	}

	#bio .design, #web .design, #misc .design {
		/* background:#fff; */
		width:98%;
			/* height:100vh; */
		padding-bottom: 10px;

	}

	#misc .design {
		height:180vh;
		background: rgba(255, 255, 255, .7)

	}
	#misc .design .misc_sect {
		float:none;
		width:90%;
		margin-bottom:20px;
		height:78vh;
		background: rgba(255, 255, 255, .7);
	}

	#footer p  {
		font-size: 0.8em;
	}

}

/* Small devices (portrait tablets and large phones, max width 768px) */
@media only screen and (max-width: 768px) {
	/* #misc .design {

		font-size: 0.9em;
		height: 57vh;
	} */

	#misc .design .misc_sect {

		background: rgba(255, 255, 255, .7);
	}

}


/* Medium devices (landscape tablets, max width 1000px) */
@media only screen and (max-width: 800px) {

	#header ul {
		width:100%;
	}

	#header ul li {
		width: 16.66666%;
	}

	
	/* #misc .design {
		background:#fff;
		width:85%;
		margin:100px auto;
		border-radius: 30px;
		box-shadow: 2px 2px 2px #000;
		height:78vh;

	} */

}
