@charset "UTF-8";
/* CSS Document */

#tabAccordion {
	margin: 0 auto;
	width: 900px;
	height: 500px;
	border: #aaa 1px solid;
	position: relative;
	background: #fff;
}

#tabAccordion dl {
	top: 0;
	left: 0;
	width: 900px;
	position: absolute;
}

#tabAccordion dl dt {
	top: 0;
	left: 0;
	width: 300px;
	position: absolute;
	background: #a9927D;
/*	background: linear-gradient(to bottom,  #a9927D 60%, #ebebeb 40%);*/
	border-bottom: #aaa 1px solid;
	border-right: #aaa 1px solid;
	box-sizing: border-box;
}

#tabAccordion dl:nth-child(2) dt {
	left: 300px;
}

#tabAccordion dl:nth-child(3) dt {
	left: 600px;
}

/*
#tabAccordion dl:nth-child(4) dt {
	left: 600px;

}
*/

#tabAccordion dl dt a {
	height: 50px;
/*	font-weight: bold;*/
	line-height: 50px;
	display: block;
	text-align: center;
	transition: all 0.2s linear;
	text-decoration: none;
	font-style: italic;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

#tabAccordion dl dt.btnAcv {
	background: #22333B;
	border-bottom: none;
}

#tabAccordion dl dt:hover > a {
	background: #A9927D;
}

#tabAccordion dl dd {
	top: 50px;
	left: 0;
	padding: 30px;
	width: 100%;
	height: 500px;
	text-align: left;
	overflow-y: auto;
	display: none;
	position: absolute;
	box-sizing: border-box;
}

#tabAccordion dl dd p {
	padding-bottom: 1.5em;
	line-height: 1.5em;
	text-align: justify;
	font-size: 0.9em;
	-webkit-transform: rotate(355deg);
  -moz-transform: rotate(355deg);
  -ms-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  transform: rotate(355deg);

}

/* ------------------------------
   MEDIAQUERIES LAYOUT
------------------------------ */
@media only screen and (max-width: 800px) {
	#tabAccordion {
		width: 100%;
		box-sizing: border-box;
	}

	#tabAccordion dl {
		width: 100%;
		box-sizing: border-box;
	}

	#tabAccordion dl dt {
		width: 25%;
	}

	#tabAccordion dl:nth-child(2) dt {
		left: 25%;
	}

	#tabAccordion dl:nth-child(3) dt {
		left: 50%;
	}

	#tabAccordion dl:nth-child(4) dt {
		left: 75%;
	}
}

/* ------------------------------
   MEDIAQUERIES[SP]LAYOUT
------------------------------ */
@media only screen and (max-width: 768px) {
	#tabAccordion {
		width: 100%;
		height: auto;
		border: none;
	}

	#tabAccordion dl {
		top: auto;
		left: auto;
		width: 100%;
		position: relative;
	}

	#tabAccordion dl dt {
		top: auto;
		left: auto;
		width: 100%;
		position: relative;
		border-bottom: #aaa 1px solid;
		border-right: none;
	}

	#tabAccordion dl:first-child dt {
		border-top: #aaa 1px solid;
	}

	#tabAccordion dl:nth-child(2) dt,
	#tabAccordion dl:nth-child(3) dt,
	#tabAccordion dl:nth-child(4) dt {
		left: auto;
	}

	#tabAccordion dl dt.btnAcv {
		border-bottom: #aaa 1px solid;
	}

	#tabAccordion dl dd {
		top: auto;
		left: auto;
		padding: 20px;
		width: 100%;
		height: auto;
		position: relative;
		border-bottom: #aaa 1px solid;
	}
}
